<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.webservice.mapper.commentmapper">
  	
  	<select id="readcomment" resultType="org.webservice.domain.comment">
  	select * from pro_comment where rno=#{rno}
  	</select>
  	<insert id="insertcomment">
  	insert into pro_comment values(#{bno},seq_pro_comment.nextval,#{comments},#{writer},sysdate)
  	</insert>
  	<delete id="deletecommentbyid">
  	delete from pro_comment where writer=#{writer}
  	</delete>
  	<update id="updatecomment">
  	update pro_comment set comments=#{comments}, regdate=sysdate where rno=#{rno}
  	</update>
  	<delete id="deletecomment">
  	delete from pro_comment where rno=#{rno}
  	</delete>
  	<delete id="deletecommentbybno">
  	 delete from pro_comment where bno=#{bno}
  	</delete>
  	
  	<select id="getlistcomment" resultType="org.webservice.domain.comment">
  	<![CDATA[ 
  	select bno,rno,comments,writer,regdate
	from 
	(
	select /*+INDEX(pro_comment PK_COMMENT) */
	rownum rn, bno, rno, comments, writer, regdate
	from pro_comment
	where bno=#{bno}
	and rno>0
	and rownum <= #{search.pageNum}*#{search.amount}
	) where rn>((#{search.pageNum}-1)*#{search.amount})
  	]]>
  	</select>
  	<select id="getcountcomment" resultType="int">
  	select count(rno) from pro_comment where bno=#{bno}
  	</select>
  	<select id="getlistcommentbyid" resultType="org.webservice.domain.comment">
  	select * from pro_comment where writer=#{writer} order by regdate desc
  	</select>
  	<select id="getcountcommentbyid" resultType="int">  	
  	select count(*) from pro_comment where writer=#{writer}
  	</select>
  </mapper>